.AboutMenu {
    width: 620px;
    height: 290px;
    background-color: white;
    border-radius: 3px;
    z-index: 10;
    position: absolute;
    padding: 16px 28px;
    top: 100%;
    right: -14px;
    border: 1px solid #d3d3d3;
    display: flex;
    justify-content: space-between;
}

.AboutMenu::after {
    content: '';
    width: 12px;
    height: 12px;
    border-top: 1px solid #d3d3d3;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 1px solid #d3d3d3;
    position: absolute;
    bottom: 100%;
    left: 95%;
    transform: rotate(45deg);
    margin-bottom: -5px;
    background: white;
}

.AboutMenu-box {
    width: 31%;
    display: inline-block;
    text-align: left;
    border-radius: 4px;
}

.AboutMenu-box h4 {
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 16px 16px 6px 16px;
}

.AboutMenu-box p {
    font-size: 14px;
    font-weight: 200;
    padding: 10px 16px;
    margin: 0;
    border-radius: 2px;
    transition: 0.5s ease;
}
.AboutMenu-box p:hover {
    background-color: rgba(0, 145, 174, 0.1);
}