.HomePage-box {
    width: 85%;
    margin: 0 auto;
    padding-top: 64px;
}

.HomePage-content {
    position: absolute;
    width: 35%;
    text-align: left;
    z-index: 2;
}

.HomePage-content h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
}

p.description {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}

p.mini {
    margin-top: 28px;
    width: 55%;
    font-weight: 600;
}

.HomePage-content button {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    padding: 24px 34px;
    font-weight: 700;
    cursor: pointer;
}

.HomePage-content button:hover {
    opacity: 0.5;
}

img.HomePage-image {
    margin-top: 130px;
    z-index: 1;
}